.portfolio-items {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.portfolio-item-media {
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.portfolio-item-content {
  padding: 24px 16px 16px;
}

.featured-portfolio {
  display: flex;
  align-items: center;
  margin: 0 -12px;
}

.featured-portfolio > div {
  padding: 0 12px;
}

.featured-portfolio-content {
  flex: 0 0 50%;
}

.featured-portfolio-image.featured-portfolio-image {
  flex: 0 0 41.667%;
  margin-left: auto;
}

.featured-portfolio-image img {
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
