.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-right: -12px;
  margin-left: -12px;
}

.col {
  flex: 0 0 100%;
  width: 100%;
  padding: 0 12px;
}

@media (min-width: 992px) {
  .col--m-4 {
    flex-basis: 33.333%;
    width: 33.333%;
  }
  .col--m-8 {
    flex-basis: 66.667%;
    width: 66.667%;
  }
}
