.site-header {
  padding: 4px 0;
  background-color: #222;
  color: #fff;
}

.site-header-inner {
  display: flex;
  align-items: center;
}

.site-header a {
  color: inherit;
}

.site-title {
  font-size: 24px;
  line-height: 56px;
}

.site-nav {
  margin-left: auto;
}

.site-nav-link {
  display: inline-flex;
  align-items: center;
  height: 56px;
  padding: 0 16px;
}
