.share-list {
  display: flex;
  align-items: center;
  padding: 0;
  list-style: none;
}

.share-list-item,
.share-list-item a {
  display: inline-flex;
  line-height: 24px;
}

.share-list-item + .share-list-item {
  margin-left: 8px;
}
